.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 50%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #886EFF;
    color: #333;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(120, 86, 214, 0.5);
    background: #886EFF;
    transform: translate(-0.1rem);
    transition: transform 150ms;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: greenyellow;
}

.incorrect {
    background-color: red;
}

#header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.highscore-main-text {
    font-size: 2rem;
}

#countdown {
    font-size: 2rem;
    text-align: center;
}

#text-prefix {
    text-align: center;
    font-size: 1.6rem;
    padding: .6rem;
}